<%- include('includes/header') %>

<div class="container">
    <h2>Ley de Faraday</h2>

    <form action="/fisica/faraday" method="POST">
        N:<input name="N"><br><br>
        Theta:<input name="theta"><br><br>
        Bi:<input name="Bi"><br><br>
        Bf:<input name="Bf"><br><br>
        dt:<input name="dt"><br><br>
        fem:<input name="fem"><br><br>

        <button>Calcular</button>
    </form>

    <% if (resultado) { %>
        <h3>Resultados</h3>
        Área: <%= resultado.area.toFixed(6) %><br>
        Lado: <%= resultado.lado.toFixed(4) %><br>
        Longitud total: <%= resultado.longitud.toFixed(4) %>
    <% } %>

    <% if (historial && historial.length > 0) { %>
        <hr>
        <h3>Historial de cálculos</h3>

        <ul>
            <% historial.forEach((item, index) => { %>
                <li>
                    Cálculo <%= index %> —
                    Área: <%= item.area.toFixed(4) %>,
                    Lado: <%= item.lado.toFixed(4) %>,
                    Longitud: <%= item.longitud.toFixed(4) %>
                </li>
            <% }) %>
        </ul>
    <% } %>
    <br>
    <a href="/">Volver</a>
</div>

<%- include('includes/footer') %>