<%- include('includes/header') %>
<%- include('includes/form') %>

<div class="container">

<h2>Guardar texto</h2>

<form method="POST">
    <input name="texto">
    <button>Guardar</button>
</form>

<h3>Último texto guardado (Cookie)</h3>
<p><%= ultimoTextoCookie || "No hay cookie aún" %></p>

<h3>Último texto guardado (Sesión)</h3>
<p><%= ultimoTextoSesion || "No hay sesión aún" %></p>

<h3>Textos guardados:</h3>

<% if(textos.length>0){ %>
<ul>
    <% textos.forEach(t=>{ %>
        <li><%= t.contenido %></li>
    <% }) %>
</ul>
<% } else { %>
<p>No hay datos aún</p>
<% } %>

<br>

<a href="/logout">
<button>Cerrar sesión</button>
</a>

</div>

<%- include('includes/footer') %>